$arrow-side: 0.3em;
$arrow-color: black;
$transparency: 0.3;

.KitchenTable-sortable {
  cursor: pointer;
}

.KitchenTable-header-content {
  flex-grow: 1;
}

.KitchenTable-header-wrapper {
  display: flex;
}

.KitchenTable-arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.KitchenTable-arrow {
  border-right: $arrow-side solid transparent;
  border-left: $arrow-side solid transparent;
  margin: 0.05em 0.15em;
}

.KitchenTable-up {
  border-bottom: $arrow-side solid rgba($arrow-color, $transparency);
}

.KitchenTable-down {
  border-top: $arrow-side solid rgba($arrow-color, $transparency);
}

.KitchenTable-sort {
  border-bottom-color: $arrow-color;
  border-top-color: $arrow-color;
}
